.low {
    background-color: green;
    color: white;
    width: 50px;
    text-align: center;
    border-radius: 7px;
    padding: 8px;
    display: inline-block;
}

.moderate {
    background-color: yellow;
    color: black;
    width: 50px;
    text-align: center;
    border-radius: 7px;
    padding: 8px;
    display: inline-block;
}

.high {
    background-color: red;
    color: black;
    width: 50px;
    text-align: center;
    border-radius: 7px;
    padding: 8px;
    display: inline-block;
}

.very-high {
    background-color: #fc0098;
    color: black;
    width: 50px;
    text-align: center;
    border-radius: 7px;
    padding: 8px;
    display: inline-block;
}

.extreme {
    background-color: #7cb1fd;
    color: black;
    width: 50px;
    text-align: center;
    border-radius: 7px;
    padding: 8px;
    display: inline-block;
} 

.searchBox {
    margin: 20px;

}


#weather {
    background-image: linear-gradient(to right, rgb(76, 126, 243), rgb(32, 16, 91));
    border: 3px solid #000;
    color: white;
    padding: 10px;
    margin: 50px 50px 50px 300px;
    display: none;
    width: 50%;
   }

.custom-jumbotron {
    background-image: linear-gradient(to right, rgb(76, 126, 243), rgb(32, 16, 91));
    font-family: sans-serif;
    color: white;
    padding: 5px;
    text-align: center;
    margin-bottom: 50px;
    height: 100px;
}

.fiveDayContainer {
    display: flex;
    flex-direction: row;
}

#cityWeather {
    display: none;
}

.fiveDayCards {
    background-image:  linear-gradient(to right, rgb(76, 126, 243), rgb(32, 16, 91));
    color: #fff;
    flex: 1;
    width: 20%;
    margin: 5px;
    padding: 10px;
    border-radius: 7px;
}